@model IEnumerable<Ticket>

<h1> Tickets </h1>
<table>
    <tr>
        <th>Event Id&emsp;</th>
        <th>Section&emsp;</th>
        <th>Row&emsp;</th>
        <th>Seat Number&emsp;</th>
        <th>Price&emsp;</th>
        <th>User Id&emsp;</th>
    </tr>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.EventId&emsp;</td>
            <td>@t.Section&emsp;</td>
            <td>@t.Row&emsp;</td>
            <td>@t.SeatNumber&emsp;</td>
            <td>@t.Price&emsp;</td>
            <td>@t.UserOwnerId&emsp;</td>
        </tr>
    }
</table>